@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
  font-family: 'Lato', sans-serif;
}

.home, .articles, .requestService, .contact{
  display: flex;
  height: 90vh;
  align-items: left;
  justify-content: left;
  margin-left: 20rem;
  font-size: 3rem;
}

.reportIssue, .faq, .managementConsole, .deviceInventory, .articleList, .ticketManagement, .install, .passwordReset, .rentedList{
  margin-left: 300px;
  margin-right: 45px;
  margin-bottom: 45px;
}

.jotform-form, .form-all, .CloseTicket,.container-fluid-dash,.MoreInfo,.form-section, .page-section{
  margin-left: 300px;
  margin-right: 25px;
  margin-bottom: 45px;
}

#NewFAQForm,#NewInventoryForm, #ticketxfr,#ContactForms{
  margin-left: 300px;
  margin-right: 45px;
  margin-bottom: 45px;
}

